<div class="person-root-container">
  <app-video-log-pager
    [start]="start$ | async"
    [length]="length$ | async"
    [totalVideos]="totalVideos$ | async"
    [isLast]="isLast$ | async"
    (navigateBeforeRequired) = "onNavigateBeforeRequired($event)"
    (navigateNextRequired) = "onNavigateNextRequired($event)"
  ></app-video-log-pager>
  <div class="list-player-container">
    <app-video-log-list
      [persons]="persons$ | async"
      [personSelected]="personSelected"
      (personSelectRequest)="onPersonSelectRequest($event)"
      class="list-edit-contained"
    ></app-video-log-list>
    <mat-card class="list-edit-contained">
      <app-video-log-player
        *ngIf="personSelected != null"
        [person]="personSelected"
      ></app-video-log-player>
    </mat-card>
  </div>
</div>
