.list-player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 840px;
    width: 100%;
    height: 100%;
    .list-edit-contained {
        width: 48%;
        min-width: 400px;
        height: 565px;
    }
  }