button {
    width: 100%;
    .inside-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .delete-textual-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .textual-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
      .img-container {
        width: 120px;
        height: 90px;
      }
    }
  }
  .person-selected {
    background-color: lightblue;
  }
  