<button
  mat-stroked-button
  (click)="onClick()"
  [ngClass]="{
    'person-selected': personSelected?.id === person.id
  }"
>
  <div class="inside-button">
    <div class="delete-textual-container">
      <div class="textual-container">
        <span>{{ person.title }}</span>
        <span>{{ person.duration }}</span>
        <span>{{ person.published }}</span>
      </div>
    </div>
    <div *ngIf="!(person.thumb_url) || imgIsNotValid" class="img-placeholder">
      <span>No Thumbnail</span>
    </div>
    <div class="img-container" *ngIf="person.thumb_url && !imgIsNotValid">
      <img [src]="person.thumb_url"  (error)="setImgIsNotValid()" style="max-height:100%; max-width:100%;" />
    </div>
  </div>
</button>
