mat-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
        margin-left: 10px;
    }
    .textual-container {
        margin-left: 10px;
        align-content: center;
    }
}